body {
    box-sizing: border-box;
}

.main-container {
    display: flex;
}

.home-nav {
    display: flex;
    flex-wrap: wrap;
}
}

.my-places-button {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 75px;
}

.explore-button {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 75px;
}

.make-post-button {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 75px;
}

.update-button {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 75px;
}

